<div class="container">

    <h1>- Anuncios -</h1>

	<div class="container">
	    <div class="row">
		    <div class="input-group">
		        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		        <input id="edtBusca" name="edtBusca" ng-model="valorBusca" type="text" class="form-control" placeholder="Buscar por palavra-chave" required/>
		    </div>
	    </div>
	    <div class="row">
	    	<div class="col-lg-6">
	    		<button class="btn btn-success btn-block btn-warning" ng-click="mostrarTodosAnunciosUsuario()"><span class="fa fa-minus-square"></span> Meus Anuncios</button>
	    	</div>
	    	<div class="col-lg-6">
	    		<button class="btn btn-success btn-block btn-info" ng-click="mostrarTodosAnuncios()"><span class="fa fa-plus-square"></span> Todos Os Anuncios</button>
	    	</div>
	    </div>
    </div>
    
    <!-- Modal Adicionar Avaliacao -->
	<div id="modalAdicionarAvalicao" class="modal fade" role="dialog">
		<div class="modal-dialog">
						
			<div class="modal-content">
				<form name="formAddAvaliacao" class="form-horizontal" novalidate ng-submit="addAvaliacao()">
						<div class="modal-header">
					   		<button type="button" class="close" data-dismiss="modal">&times;</button>
					       	<h4 class="modal-title">Adicionar Avaliacao</h4>
					   	</div>
					<div class="modal-body">
			     		<div class="row">
				     		<div class="form-group">
								<label class="control-label col-lg-3" for="novaAvalicao">Comentarios: </label>	
								<div class="col-lg-8">
									<input name="novaAvalicao" ng-model="novaAvalicao" id="novaAvalicao" type="text" class="form-control" autocomplete="off" required>
								</div>
							</div>
						</div>
						<div class="row">
                    		<label class="control-label col-lg-1" for="notaAvaliacao">Nota: </label>
                    		<div class="col-lg-3">
			                	<select name="notaAvaliacao" ng-model="notaAvaliacao" id="notaAvaliacao" class="form-control" required>
			                    	<option selected disabled value="">Escolha Uma Nota</option>
			                        <option value="NOTA_ZERO">0</option>
			                        <option value="NOTA_UM">1</option>
			                        <option value="NOTA_DOIS">2</option>
			                        <option value="NOTA_TRES">3</option>
			                        <option value="NOTA_QUATRO">4</option>
			                        <option value="NOTA_CINCO">5</option>
			                    </select>
                   			</div>
                		</div>
					</div>
					<div class="modal-footer">
			    		<button ng-disabled="!formAddAvaliacao.novaAvalicao.$valid || !formAddAvaliacao.notaAvaliacao.$valid" type="submit" class="btn btn-success btn-default"><span class="fa fa-arrow-circle-o-down"></span> Adicionar</button>
					</div>
			    </form>
			</div>
		</div>
	</div>
	
	<!-- Modal Contratar Anuncio -->
	<div id="modalContratarAnuncio" class="modal fade" role="dialog">
		<div class="modal-dialog">
						
			<div class="modal-content">
				<form name="formContratarAnuncio" class="form-horizontal" novalidate ng-submit="contratarAnuncio()">
						<div class="modal-header">
					   		<button type="button" class="close" data-dismiss="modal">&times;</button>
					       	<h4 class="modal-title">Contratar Anuncio</h4>
					   	</div>
					<div class="modal-body">
			     		
			     		<h5>Deseja Contratar o Anuncio: {{anuncioContratado.titulo}} ?</h5>
			     		
			     		<div ng-show="anuncioContratado.tipo == 'SERVICO'" class="row">
				     		<div class="form-group">
								<label class="control-label col-lg-4" for="novaAvalicao">Data De Agendamento: </label>	
								<div class="col-lg-6">
									<input  name="novaData" ng-model="novaData" id="novaData" type="datetime-local" class="form-control" autocomplete="off" required>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
			    		<button ng-disabled="anuncioContratado.tipo == 'SERVICO' && !formContratarAnuncio.novaData.$valid" type="submit" class="btn btn-success btn-default"><span class="fa fa-arrow-circle-o-down"></span> Contratar</button>
					</div>
			    </form>
			</div>
		</div>
	</div>
		
	<ul class="list-group" id="" >
		<li ng-repeat="anuncio in anuncios | filter: {titulo: valorBusca}" class="lista-anuncios-item list-group-item">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Titulo: {{anuncio.titulo}}</div>
   				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Tipo: {{anuncio.tipo}}</div>
    			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">Data de criacao: {{anuncio.dataDeCriacao}}</div>
    			<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">Valor: {{anuncio.valor}}</div>
    		</div>
    		<div class="row">
   				<div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">Descricao: {{anuncio.descricao}}</div>
   				<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"><span ng-show="anuncio.tipo == 'PRODUTO'">Categoria: {{anuncio.categoria}}</span></div>
   				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="{{mostrarAvaliacoes ? 'icone-subtarefa fa fa-chevron-up':'icone-subtarefa fa fa-chevron-down'}}" title="Mostrar Avaliacoes" ng-click="mostrarAvaliacoes = !mostrarAvaliacoes"></i></div>
   				<div ng-show="!isMeusAnuncios" class="col-lg-2 col-md-2 col-sm-10 col-xs-10"><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalContratarAnuncio" data-backdrop="static" ng-click="setAnuncioContratado(anuncio)"><span class="fa fa-plus-square-o"></span> Contratar</button></div>
   			</div>
   			<div ng-show="mostrarAvaliacoes">
	   			<ul class="list-group">
	   				<div class="row">
	   					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Avaliacoes: </div>
	   					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Media Avaliacoes: {{calculaMediaAvaliacao(anuncio)}}</div>
	   				</div>
	    			<li ng-repeat="avaliacao in anuncio.avaliacoes" class="lista-avaliacoes-item list-group-item">
	    				<div class="linha-avaliacao row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">Avaliacao: {{avaliacao.comentarios}} </div>
	   						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">Nota: {{getNotaAvaliacao(avaliacao.nota)}}</div>
	    				</div>
	    			</li>
	    		</ul>
	    		<button ng-show="!isMeusAnuncios" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalAdicionarAvalicao" data-backdrop="static" ng-click="setAnuncioAvaliado(anuncio)"><span class="fa fa-plus-square-o"></span> Adicionar Avaliacao</button>
    		</div>
    	</li>
    </ul>
</div>