<div class="container">	
	<h3>Cadastrar Usuario</h3>
	
	<div class="container">
		<form name="cadastroUsuario" class="form-horizontal" novalidate ng-submit="cadastrarUsuario()">
			<div class="form-group">
				
				<div class="row">
					<label class="control-label col-lg-1" for="nomeUsuario">Nome: </label>	
					<div class="col-lg-9">
						<input name="nomeUsuario" ng-model="nomeUsuario" id="nomeUsuario" type="text" class="form-control" placeholder="Seu nome" autocomplete="off" pattern="" title="" required>
					</div>
				</div>	
				
				<div class="row">
					<label class="control-label col-lg-1" for="emailUsuario">Email: </label>	
					<div class="col-lg-9">
						<input name="emailUsuario" ng-model="emailUsuario" id="emailUsuario" type="email" class="form-control" placeholder="Seu email" autocomplete="off" pattern="" title="" required>
					</div>
				</div>
				
				<div class="row">	
					<label class="control-label col-lg-1" for="senhaUsuario">Senha: </label>	
					<div class="col-lg-9">
						<input name="senhaUsuario" ng-model="senhaUsuario" id="senhaUsuario" type="password" class="form-control" placeholder="Sua senha" autocomplete="off" pattern="" title="" required>
					</div>
				</div>	
				
				<div class="row">
					<label class="control-label col-lg-1" for="opcaoPessoa"> </label>
					<div class="col-lg-3">
						 <select class="form-control" ng-model="opcaoPessoa">
						 	<option value="PERMISSAO_PESSOA_FISICA">Pessoa Fisica</option>
						 	<option value="PERMISSAO_PESSOA_JURIDICA">Pessoa Juridica</option>
						 </select>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-10">
						<button ng-disabled="!cadastroUsuario.nomeUsuario.$valid || !cadastroUsuario.emailUsuario.$valid || !cadastroUsuario.senhaUsuario.$valid" type="submit" class="pull-right btn btn-success btn-default"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>
					</div>
				</div>
			
			</div>
		</form>	
	</div>	
</div>