<div>
    <p style="font-size: 20px">
        <span style="font-weight: bold">Nome: </span>
        <span>{{usuarioLogado.nome}}</span>
    </p>

    <p style="font-size: 20px">
        <span style="font-weight: bold">Email: </span>
        <span>{{usuarioLogado.email}}</span>
    </p>

    <p style="font-size: 20px">
        <span style="font-weight: bold">Credito: </span>
        <span>{{usuarioLogado.saldoDeUsuario.credito}}</span>
    </p>

    <p style="font-size: 20px">
        <span style="font-weight: bold">Debito: </span>
        <span>{{usuarioLogado.saldoDeUsuario.debito}}</span>
    </p>
</div>