<!DOCTYPE html>

<html lang="pt">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<!-- estilos -->
	<link rel="stylesheet" href="/css/app.css"/>
	<link rel="icon" type="image/ico" href="./img/favicon.ico"/>
	
	<!-- Jquery e AngularJS -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	
	<!-- modulos -->
	<script src="/js/app.js"></script>
	
	<!-- constantes -->
	<script src="/js/constantes/constantes.js"></script>
	
	<!-- services -->
	<script src="/js/services/serviceLogin.js"></script>
	
	<!-- Controllers -->
	<script src="/js/controller/controllerMenu.js"></script>
	<script src="/js/interceptador/tokenInterceptador.js"></script>
    <script src="/js/controller/controllerCadastro.js"></script>
	<script src="/js/controller/controllerLogin.js"></script>
	<script src="/js/controller/controllerBuscaAnuncio.js"></script>

   	<title>AdExtreme</title>

</head>

<body ng-app="menuPrincipal" ng-controller="controllerMenu">
	<div class="container" id="menuPrincipal">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Menu</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-repeat="caminho in caminhos()" class=""><a href="{{caminho.rota}}">{{caminho.nome}}</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					 <li ng-if="usuarioEstaLogado()"><a><span ng-click="deslogar()" class="fa fa-file-o"></span><b> Deslogar</b></a></li>
				</ul>
			</div>
		</nav>
	
		<ng-view></ng-view>
		
		<footer class="footer">
			Copyright © MITOS E JAVEIROS 2017. All right reserved.
		</footer>	
	</div>
</body>

</html>